@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  font-size: 14px;
  color: #222222;
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
}

#footer {
  font-size: small;
  color: #a9a9a9;
  text-align: center;
  height: 32px;
  bottom: 32px;
  padding: 24px;
  position: relative;
  margin-top: 160px;
  bottom: 64px;
  background: rgba(255, 255, 255, 0.5);
  clear: left;
}

header {
 /*background-color: #d8d8d8;*/
 display: table;
 /*position: absolute;*/
 width: 100%;
 height: 72px;
 position: fixed;
 z-index: 10;
 background-color: rgba(255, 255, 255, 0.98);
 border-bottom: 1px solid #d8d8d8;
 top: 0;

}

.header-nav {
  display: table-cell;
  padding: 0 20px;
  text-align: right;
  vertical-align: middle;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -10px
}

.head-secure{
  display: inline-block;
  max-width: 100%;
  height: 560px;
  background-size: cover;
  background-image: url("../img/secure/head.png");
  background-repeat: no-repeat;
}


.head-musico {
  display: inline-block;
  max-width: 100%;
  height: 560px;
  background-size: cover;
  background-image: url("../img/musico/head2.png");
  background-repeat: no-repeat;
}

.link {
    text-align: center;
    color: #222222;

    margin-top: 24px;
    font-size: 16px;
    font-weight: bold;
}


.head-shop {
  display: inline-block;
  max-width: 100%;
  height: 560px;
  background-color: #d8d8d8;
  background-size: cover;
  background-image: url("../img/shop/head.png");
  background-repeat: no-repeat;
}

.head-about {
  display: inline-block;
  max-width: 100%;
  height: 560px;
  background-color: #d8d8d8;
  background-size: cover;
  background-image: url("../img/about/head.png");
  background-repeat: no-repeat;
}


.head-etri {
  display: inline-block;
  max-width: 100%;
  height: 560px;
  background-size: cover;
  background-image: url("../img/etri/head2.png");
  background-repeat: no-repeat;
}

.head-food {
  display: inline-block;
  max-width: 100%;
  height: 560px;
  background-size: cover;
  background-image: url("../img/food/head.png");
  background-repeat: no-repeat;
}

.head-imagin {
  display: inline-block;
  max-width: 100%;
  height: 560px;
  background-size: cover;
  background-image: url("../img/imagin/imagin0.png");
  background-repeat: no-repeat;
}

.head-ne {
  display: inline-block;
  max-width: 100%;
  height: 560px;
  background-size: cover;
  background-image: url("../img/ne/head4.png");
  background-repeat: no-repeat;
}

.head-out {
  display: inline-block;
  max-width: 100%;
  height: 560px;
  background-size: cover;
  background-image: url("../img/out/head.png");
  background-repeat: no-repeat;
}

.head-m {
  display: inline-block;
  max-width: 100%;
  height: 560px;
  background-size: cover;
  background-image: url("../img/piki_3.0/head1.png");
  background-repeat: no-repeat;
}

.head-seven {
  display: inline-block;
  max-width: 100%;
  height: 560px;
  background-size: cover;
  background-image: url("../img/seven/head.png");
  background-repeat: no-repeat;
}

.head-ugc{
  display: inline-block;
  max-width: 100%;
  height: 560px;
  background-size: cover;
  background-image: url("../img/ugc/head.png");
  background-repeat: no-repeat;
}


.head-proto{
  display: inline-block;
  max-width: 100%;
  height: 560px;
  background-size: cover;
  background-image: url("../img/proto/head.png");
  background-repeat: no-repeat;
}



.head-festival {
  display: inline-block;
  max-width: 100%;
  height: 560px;
  background-color: #d8d8d8;
  background-size: cover;
  background-image: url("../img/festival/head.png");
  background-repeat: no-repeat;
}


.head-about {
  display: inline-block;
  max-width: 100%;
  height: 560px;
  background-color: #d8d8d8;
  background-size: cover;
  background-image: url("../img/about/head.png");
  background-repeat: no-repeat;
}



.logo {
  display: table-cell;
  margin: 0px;
  padding: 0 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #d1ba7b;
  font-size: 28px;
  vertical-align: middle;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}

.divider_main {
  margin: 72px auto;
}


.divider {
  margin: 24px auto 0;
}

nav ul {
  margin: 0px;
  list-style: none;
  vertical-align: middle;

}

nav ul li {
  font-size: 120%;
  font-weight: bold;
  display: inline;
  padding: 14px;
  margin: 20px;
  vertical-align: middle;
}

.introduce {
  max-width: 1116px;
  margin: auto;
  padding: 160px 16px 56px 16px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.6em;
  clear: left;
}


.cv {
  max-width: 1116px;
  margin: auto;
  padding: 160px 16px 88px 16px;
  clear: left;
}


.cv-title {
  margin: 0;
  padding-bottom: 14px;
  font-size: 32px;
  font-weight: 800;
  line-height: 1.4em;
}

.cv-description{
  margin: 0;
  padding: 0 16px;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5em;
  color: rgba(0, 0, 0, 0.8);

}

.cv-description-date {
  margin: 0;
  padding: 0 16px;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5em;
  color: rgba(0, 0, 0, 0.4);

}


.project {
  max-width: 1180px;
  margin: auto;
  position: relative;
  text-align: center;
}

.box-secure {
  display: inline-block;
  width: 360px;
  height: 280px;
  background-color: #d8d8d8;
  background-size: cover;
  background-image: url("../img/secure/thumb.png");
  background-repeat: no-repeat;
}




.box-musico {
  display: inline-block;
  width: 360px;
  height: 280px;
  background-color: #d8d8d8;
  background-size: cover;
  background-image: url("../img/musico/thumb.png");
  background-repeat: no-repeat;
}


.box-1 {
  display: inline-block;
  width: 360px;
  height: 280px;
  background-color: #d8d8d8;
  background-size: cover;
  background-image: url("../img/imagin/thumb.png");
  background-repeat: no-repeat;
}

.box-2 {
  display: inline-block;
  width: 360px;
  height: 280px;
  background-color: #d8d8d8;
  background-size: cover;
  background-image: url("../img/ne/thumb.png");
  background-repeat: no-repeat;
}

.box-mweb {
  display: inline-block;
  width: 360px;
  height: 280px;
  background-color: #d8d8d8;
  background-size: cover;
  background-image: url("../img/piki_3.0/thumb.png");
  background-repeat: no-repeat;
}


.box-shop{
  display: inline-block;
  width: 360px;
  height: 280px;
  background-color: #d8d8d8;
  background-size: cover;
  background-image: url("../img/shop/thumb.png");
  background-repeat: no-repeat;
}


.box-food {
  display: inline-block;
  width: 360px;
  height: 280px;
  background-color: #d8d8d8;
  background-size: cover;
  background-image: url("../img/food/thumb.png");
  background-repeat: no-repeat;
}


.box-4 {
  display: inline-block;
  width: 360px;
  height: 280px;
  background-color: #d8d8d8;
  background-size: cover;
  background-image: url("../img/etri/thumb.png");
  background-repeat: no-repeat;
}


.box-ugc {
  display: inline-block;
  width: 360px;
  height: 280px;
  background-color: #d8d8d8;
  background-size: cover;
  background-image: url("../img/ugc/thumb.png");
  background-repeat: no-repeat;
}


.box-6 {
  display: inline-block;
  width: 360px;
  height: 280px;
  background-color: #d8d8d8;
  background-size: cover;
  background-image: url("../img/etri/thumb.png");
  background-repeat: no-repeat;
}

.box-7 {
  display: inline-block;
  width: 360px;
  height: 280px;
  background-color: #d8d8d8;
  background-size: cover;
  background-image: url("../img/seven/thumb.png");
  background-repeat: no-repeat;
}

.box-festival {
  display: inline-block;
  width: 360px;
  height: 280px;
  background-color: #d8d8d8;
  background-size: cover;
  background-image: url("../img/festival/thumb.png");
  background-repeat: no-repeat;
}

.box-proto {
  display: inline-block;
  width: 360px;
  height: 280px;
  background-color: #f9f9f9;
  background-size: cover;
  background-image: url("../img/proto/thumb.png");
  background-repeat: no-repeat;
}


.box-out {
  display: inline-block;
  width: 360px;
  height: 280px;
  background-color: #d8d8d8;
  background-size: cover;
  background-image: url("../img/out/thumb.png");
  background-repeat: no-repeat;
}


.box-whisper {
  display: inline-block;
  width: 360px;
  height: 280px;
  background-color: #d8d8d8;
  background-size: cover;
  background-image: url("../img/whisper/thumb2.png");
  background-repeat: no-repeat;
}


.box-about {
  display: inline-block;
  width: 360px;
  height: 280px;
  background-color: #d8d8d8;
  background-size: cover;
  background-image: url("../img/about/thumb.png");
  background-repeat: no-repeat;
}

.box-insta {
  transition: all 0.3s ease-out;
  opacity: 0.6;
  display: inline-block;
  width: 72px;
  height: 72px;
  background-size: cover;
  background-image: url("../img/insta.png");
  background-repeat: no-repeat;
}

.box-insta:hover{
  opacity: 1;
  transition: all 0.3s ease-in;
}

.box-drb {
  transition: all 0.3s ease-out;
  opacity: 0.6;
  display: inline-block;
  width: 72px;
  height: 72px;
  background-size: cover;
  background-image: url("../img/drb.png");
  background-repeat: no-repeat;
}

.box-drb:hover{
  opacity: 1;
  transition: all 0.3s ease-in;
}


.project-area {
  transition: all 0.3s ease-out;
  opacity: 0;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.2) ;
  width: 100%;
  height: 100%;
}


.project-area:hover {
  opacity: 1;
  transition: all 0.3s ease-in;


}


.title {
  width: 100%;
  vertical-align: middle;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  float: left;
  margin: 0px;
  padding: 24px 24px 8px 24px;
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
 }




.description {
  width: 100%
  line-height: 1.3em;
  vertical-align: middle;
  text-shadow: 1px 1px  rgba(0, 0, 0, 0.2);
  float: left;
  padding: 0 24px;
  margin: 0px;
  font-weight: normal;
  text-align: left;
  font-size: 95%;
  color: #fff;
}


.project-page-head {
  max-width: 1180px;
  margin: 72px 0px 0px 0px;
}


.project-page {
  max-width: 1180px;
  margin: auto;
  /*background-color: # f7f7f7;*/
}

.project-contents {
  max-width: 812px;
  margin: auto;
}

.project-head-img {
  max-width: 100%;
  min-height: 560px;
  margin: 72px auto 0px;
  display: block;
  background-image: url(../img/imagin/imagin0.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.project-contents-img1 {
  max-width: 508px;
  position: relative;
  margin: auto;
  padding: 0 16px 64px;
  /*background-color: #fbfbfb;*/
}

.project-contents-img2 {
  max-width: 515px;
  position: relative;
  margin: auto;
  padding: 0 16px 64px;
  /*background-color: #fbfbfb;*/
}


.project-contents-img3 {
  max-width: 812px;
  position: relative;
  margin: auto;
  padding: 16px 16px;
}


.project-contents-img4 {
  max-width: 780px;
  position: relative;
  margin: auto;
  padding: 16px 16px;
}


.project-contents-shadow {
  max-width: 780px;
  margin: auto;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);
}


.project-contents-gif-shadow {
  max-width: 360px;
  margin: auto;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);
}


.project-contents-video {
  max-width: 1180px;
  margin: auto;
}

.project-ui {
  max-width: 1116px;
  margin: auto;
  padding: 72px 32px;
  background-color: #f7f7f7;
}



.project-cell {
  display: inline-block;
  width: 360px;
  height: 280px;
  background-color: #f7f7f7;
  margin: 16px 8px;
}

.project-cell-outlink {
  display: inline-block;
  width: 72px;
  height: 72px;
  margin: 0 4px;
}


.project-ui-cell-area {
  /*margin: auto;*/
  margin-bottom: 0;
  position: relative;
  text-align: center;
}


.project-ui-cell-1row {
  /*margin: auto;*/
  display: inline-block;
  max-width: 360px;
  padding: 0 32px 96px 32px;
}


.project-ui-cell {
  margin: auto;
  display: inline-block;
  max-width: 360px;
  padding: 0 32px;
}


.project-ui-none {
  max-width: 1180px;
  margin: auto;
  /*background-color: #f7f7f7;*/
}

.project-ui-full {
  width: 100%;
  margin: auto;
  background-color: #f7f7f7;
}




.project-head-text-area {
  width: 780px;
  position: absolute;
}

.project-head-title {
  width: 100%;
  font-family: 'Source+Sans+Pro', sans-serif;
  vertical-align: middle;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  float: left;
  margin: 0px;
  padding: 208px 32px 4px 196px;
  text-align: left;
  font-size: 32px;
  font-weight: 700;
  color: #fff;
}

.project-head-title-b {
  width: 100%;
  font-family: 'Source+Sans+Pro', sans-serif;
  vertical-align: middle;
  float: left;
  margin: 0px;
  padding: 208px 32px 4px 196px;
  text-align: left;
  font-size: 32px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
}


.project-head-discription {
  width: 100%;
  font-family: 'Source+Sans+Pro', sans-serif;
  vertical-align: middle;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  float: left;
  margin: 0px;
  padding: 4px 48px 48px 196px;
  text-align: left;
  font-size: 18px;
  line-height: 1.4em;
  font-weight: normal;
  color: #fff;
}


.project-head-discription-b{
  width: 100%;
  font-family: 'Source+Sans+Pro', sans-serif;
  vertical-align: middle;
  float: left;
  margin: 0px;
  padding: 4px 48px 48px 196px;
  text-align: left;
  font-size: 18px;
  line-height: 1.3em;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.6);
}


.project-title {
  font-family: 'Source+Sans+Pro', sans-serif;
  margin: 0px;
  padding: 96px 16px 16px 16px;
  font-size: 32px;
  text-align: left;
  line-height: 1.3em;
  clear: left;
  color: rgba(0, 0, 0, 0.8);
}

.project-title-inline {
  /*position: inherit;*/
  font-family: 'Source+Sans+Pro', sans-serif;
  margin: 0px;
  padding: 96px 16px 16px 16px;
  font-size: 32px;
  text-align: left;
  line-height: 1.3em;
  clear: left;
  color: rgba(0, 0, 0, 0.8);
}




.project-title-middle {
  font-family: 'Source+Sans+Pro', sans-serif;
  margin: 0px;
  padding: 196px 16px 16px 16px;
  font-size: 34px;
  text-align: left;
  line-height: 1.3em;
  clear: left;
  color: rgba(0, 0, 0, 0.8);
}



.project-discription {
  font-family: 'Source+Sans+Pro', sans-serif;
  /*float: left;*/
  margin: 0px;
  padding: 0px 16px 8px 16px;
  font-size: 18px;
  font-weight: normal;
  text-align: left;
  line-height: 1.3em;
  color: rgba(0, 0, 0, 0.8);
}

.project-discription-inline {
  font-family: 'Source+Sans+Pro', sans-serif;
  margin: auto;
  display: inline-block;

  /*margin: auto;*/
  font-size: 18px;
  font-weight: normal;
  text-align: left;
  line-height: 1.3em;
  color: rgba(0, 0, 0, 0.8);
}



.project-discription-kr {
  font-family: 'Source+Sans+Pro', sans-serif;
  /*float: left;*/
  margin: 0px;
  padding: 0px 16px 56px 16px;
  font-size: 16px;
  font-weight: normal;
  text-align: left;
  line-height: 1.4em;
  color: rgba(0, 0, 0, 0.4);
}


.project-discription-medium {
  font-family: 'Source+Sans+Pro', sans-serif;
  margin: 0px;
  padding: 0px 16px 8px 16px;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  line-height: 1.3em;
  color: rgba(0, 0, 0, 0.6);
}


.project-discription-medium-center {
  font-family: 'Source+Sans+Pro', sans-serif;
  margin: 0px;
  padding: 0px 16px 8px 16px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  line-height: 1.3em;
  color: rgba(0, 0, 0, 0.6);
}


.project-discription-medium-section {
  font-family: 'Source+Sans+Pro', sans-serif;
  margin: 0px;
  padding: 56px 16px 8px 16px;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  line-height: 1.3em;
  color: rgba(0, 0, 0, 0.6);
}


.project-discription-medium-section-center {
  font-family: 'Source+Sans+Pro', sans-serif;
  margin: 0px;
  padding: 56px 16px 8px 16px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  line-height: 1.3em;
  color: rgba(0, 0, 0, 0.6);
}



/* Slideshow container */
.slideshow-container {
  max-width: 1116px;
  position: relative;
  margin: auto;
  padding: 72px 32px;
  background-color: #f7f7f7;

}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 0;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 4px 0 0 4px;
  background-color: rgba(0,0,0,0.1);
}


.prev {
  left: 0;
  border-radius: 0 4px 4px 0;
  background-color: rgba(0,0,0,0.1);
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.4);
}

/* Caption text */
.text {
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  position: absolute;
  text-align: center;
  /*bottom: 36px;*/
  padding: 16px 0;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot, .dot1 {
  cursor:pointer;
  height: 6px;
  width: 6px;
  margin: 0 4px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.4s ease;
}

.active, .dot:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.nav-style a:link {
  transition: all 0.3s ease-out;
  color: #222222;
  text-decoration: none;
}

.nav-style a:visited {
  color: #222222;
  text-decoration: none;
}

.nav-style a:hover {
  color: #d1ba7b;
  transition: all 0.3s ease-out;
  /*text-decoration: underline;*/
}

.site-footer-owner a:link {
  text-decoration: none;
  color: #a9a9a9;
  vertical-align: middle;
}

.site-footer-owner a:visited {
  text-decoration: none;
  color: #a9a9a9;
  vertical-align: middle;
}


.site-go{
  text-align: center;
  margin: auto;
  padding: 16px 0;
  color: #a9a9a9;
}


.site-go-left{
  text-align: left;
  margin: auto;
  padding: 16px 0;
  color: #a9a9a9;
}

.site-go, .site-go-left a:link{
  /*float: inherit;*/
  transition: all 0.25s ease-in;
  color: #a9a9a9;
  margin: auto;
  padding: 16px 0;
}

.site-go, .site-go-left a:visited {
  color: #a9a9a9;
  text-decoration: none;
}

.site-go, .site-go-left a:hover {
  transition: all 0.25s ease-out;
  color: #d1ba7b;
}


a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

@media screen and (min-width: 640px) {
  .page-header {
    padding: 1rem 1rem; } }

@media screen and (min-width: 640em) and (max-width: 64em) {
  .page-header {
    padding: 1rem 1rem; } }

@media screen and (max-width: 640em) {
  .page-header {
    padding: 1rem 1rem; } }
